<% unless @pending_users.empty? %>
	<!-- <div id="dashboard_widget"> -->
		<%= image_tag "forms/pending_users.png" %>
		<table class="datagrid">
			<% for user in @pending_users %>  
			  <tr>  
			    <td valign="center">&nbsp;<%= image_tag avatar_url(user) %></td>
			  	<td>&nbsp;<%= link_to user.name, user_path(user) %></td>  
			    <td>&nbsp;<%= user.email %></td>
					<td align="center">&nbsp;<%= number_to_phone user.phone %></td>   
			  </tr>  
			<% end %>
		</table>
	<!-- </div> -->
<% end %>