<%= form_for(@request) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<% unless current_user.is_partner? %>
  <div class="field">
    <%= f.label :requestor_id %><br />
    <%= f.collection_select :requestor_id, User.alphabetical.all, :id, :formal_name, :prompt => "Select ..." %>
  </div>
	<% end %>
  <div class="field">
    <%= f.label :production %><br />
    <%= f.text_field :production %>
  </div>
	<div class="field">
    <%= f.label :date_needed_by %><br />
    <%= f.date_select :date_needed_by, :order => [:month, :day, :year] %>
  </div>
	<% unless current_user.is_partner? %>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.select :status, Request::STATUS_LIST, :prompt => "Select ..." %>
  </div>
	<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
