
<p>
  <b>Name:</b>
  <%= @color.name %>
</p>

<% unless current_user.is_partner? %>
	<p><%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_color_path(@color))  %>&nbsp;<%= link_to 'Edit this color', edit_color_path(@color) %> &nbsp;|&nbsp;
		<%= link_to(image_tag("icons/delete_dg.gif", :border => 0), color_path(@color), :confirm => 'Are you sure you wish to delete this color?', :method => :delete) %>&nbsp;<%= link_to 'Delete this color', color_path(@color), :confirm => 'Are you sure you wish to delete this color?', :method => :delete %>
	</p>
<% end %>
<p>Back to <%= link_to 'list of all colors', colors_path %></p>
