<%# stylesheet_link_tag 'userbox' if params[:action] == 'userbox' %>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<!-- Left column -->
		<table border="0" cellspacing="5" cellpadding="5">
    	<tr>
    		<!-- Main column -->
    		<td valign="top" width="250" class="show">
    			<%= image_tag "forms/accinfo-section-mini.png" %>

    			<p class="lgtext">
    			<%= image_tag avatar_url(@user) %> 
    			<%= @user.name %>
    			</p>
          <br></br>
    			<p>
    			  <b>Email:</b>
    			  <%= @user.email %>
    			</p>
          <p>
            <b>Phone:</b> 
            <%= number_to_phone @user.phone %>
          </p>
	        <p>
    			  <b>Organization</b>
            <%= @user.organization.name %>
    			</p>
    			<p>
    				<b>Role:</b> 
    				<%= @user.role.to_s.capitalize %>
    				</p>
    			<p>
    			  <b>Status:</b> 
    			  <%= @user.current_status %>
    			</p>

    		</td>
		
		<!-- Spacer column -->
		<td width="20">&nbsp;</td>
		
		<!-- Right column -->
		<td width="250" valign="top" class="show">
			<%= image_tag "forms/orderhis-section.png" %>
			<p>
			  <b>Recent orders</b>
			</p>
		<div>
			<table cellspacing="0" cellpadding="3" border="0">
        <tbody>
			    <tr>
			      <td width="100">
              <p>Order Date</p>
            </td>
            <td width="150">
              <p>Order Summary</p>
            </td>
         </tr
       </tbody>
      </table>
      </div>
		
			<!-- Bottom left cell -->
    	<tr>
    		<td valign="top" class="show">
					<% unless current_user.is_partner? %>				
          	<% unless @notes.empty? || @notes.nil? %>
							<strong>Notes:</strong><br />
	          	<br>
	          	<%= render :partial => "partials/notes_list" %>
		          </p>
						<% end %>						
							<p><%= image_tag "forms/items_actions.png" %></p>
							<p>
								<%= link_to(image_tag("icons/add_note.png", :border => 0), user_notes_path(@user))  %>&nbsp;<%= link_to "Add a note", user_notes_path(@user) %>&nbsp;|&nbsp;
								<%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_user_path(@user))  %>&nbsp;<%= link_to 'Edit this item', edit_user_path(@user) %>
								<%= link_to(image_tag("icons/delete_dg.gif", :border => 0), user_path(@user), :confirm => 'Are you sure you wish to delete this user?', :method => :delete) %>&nbsp;<%= link_to 'Delete this user', user_path(@item), :confirm => 'Are you sure you wish to delete this user?', :method => :delete %>
								<%= link_to(image_tag("icons/back_arrow.png", :border => 0), users_path) %>&nbsp;<%= link_to "Back to Users", users_path %>
							</p>
					<% end %>
    		</td>
    	</tr>
		</td>
	</tr>
</table>


