<%# stylesheet_link_tag 'userbox' if params[:action] == 'userbox' %>

<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<!-- Left column -->
		<table border="0" cellspacing="5" cellpadding="5">
    	<tr>
    		<!-- Main column -->
    		<td valign="top" width="250" class="show">
    			<%= image_tag "forms/account_details_long.png" %>

    			<p class="lgtext">
    			<%= image_tag avatar_url(@user) %> 
    			<%= @user.name %>
    			</p>
          <br></br>
    			<p>
    			  <b>Email:</b>
    			  <%= @user.email %>
    			</p>
          <p>
            <b>Phone:</b> 
            <%= number_to_phone @user.phone %>
          </p>
	        <p>
    			  <b>Organization</b>
            <%= @user.organization.name %>
    			</p>
    			<p>
    				<b>Role:</b> 
    				<%= @user.role.to_s.capitalize %>
    				</p>
    			<p>
    			  <b>Status:</b> 
    			  <%= @user.current_status %>
    			</p>

    		</td>
		
		<!-- Spacer column -->
		<td width="20">&nbsp;</td>
		
		<!-- Right column -->
		<td width="250" valign="top" class="show">
			<%= image_tag "forms/request_history_long.png" %>
			<p>
			  <% if @user.requests.empty? %>
					<p>No requests have been made.</p>
				<% else %>
					<%= render :partial => "user_requests" %>
				<% end %>
			</p>
		</td>
		</tr>
			<!-- Bottom left cell -->
    	<tr>
    		<td valign="top" class="show" colspan="3">
					<% unless current_user.is_partner? %>				
          	<% unless @notes.empty? || @notes.nil? %>
							<strong>Notes:</strong><br />
	          	<br>
	          	<%= render :partial => "partials/notes_list" %>
		          </p>
						<% end %>						
					<% end %>
    		</td>
    	</tr>
		</td>
	</tr>
</table>
<% unless current_user.is_partner? %>
<p><%= image_tag "forms/items_actions.png" %></p>
<p>
	<%= link_to(image_tag("icons/add_note.png", :border => 0), user_notes_path(@user))  %>&nbsp;<%= link_to "Add a note", user_notes_path(@user) %> &nbsp;|&nbsp;
	<%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_user_path(@user))  %>&nbsp;<%= link_to 'Edit this user', edit_user_path(@user) %> &nbsp;|&nbsp;
	<%= link_to(image_tag("icons/delete_dg.gif", :border => 0), user_path(@user), :confirm => 'Are you sure you wish to delete this user?', :method => :delete) %>&nbsp;<%= link_to 'Delete this user', user_path(@item), :confirm => 'Are you sure you wish to delete this user?', :method => :delete %> &nbsp;|&nbsp;
	<%= link_to(image_tag("icons/back_arrow.png", :border => 0), user_index_path) %>&nbsp;<%= link_to "Back to Users", user_index_path %>
</p>
<% end %>


