<% unless current_user.is_partner? %>
	<div id="add_widget"><%= link_to(image_tag("/images/icons/add_blue_small.gif", :border => 0), new_item_path) %> <%= link_to "Add a New Item", new_item_path %></div>
<% end %>

<table border="0">
	<tr><td width="600" valign="top">
	<h1>Browse Inventory</h1>
	<div id="accordion">
	
		<h6><%= link_to(image_tag("forms/search_costumes.png"),"#") %></h6>
		<div class="browse_section">
			<table border="0"><tr>
				<td wdith="160" valign="top">
					<%= render :partial => "partials/display_subcategories", :locals => {:subcategories  => @subcat_costumes} %>
				</td>
				<td width="400" valign="top">
					<div id="costume_items">
						<%= render :partial => "partials/display_items_table", :locals => {:items  => @costumes} %>
					</div>
					<div id="paginate_costumes">
					  <%= paginate @costumes, :remote => true %>
					</div>
				</td>
			<tr></table>
		</div>
	
		<h6><%= link_to(image_tag("forms/search_props.png"),"#") %></h6>
		<div class="browse_section">
			<table border="0"><tr>
				<td wdith="160" valign="top">
					<%= render :partial => "partials/display_subcategories", :locals => {:subcategories  => @subcat_props} %>
				</td>
				<td width="400" valign="top" id="prop_items">
					<div id="prop_items">
						<%= render :partial => "partials/display_items_table", :locals => {:items  => @props} %>
					</div>
					<div id="paginate_props">
					  <%= paginate @props, :remote => true %>
					</div>
				</td>
			<tr></table>
		</div>
	
		<h6><%= link_to(image_tag("forms/search_staging.png"),"#") %></h6>
		<div class="browse_section">
			<table border="0"><tr>
				<td wdith="160" valign="top">
					<%= render :partial => "partials/display_subcategories", :locals => {:subcategories  => @subcat_staging} %>
				</td>
				<td width="400" valign="top" id="staging_items">
					<div id="staging_items">
						<%= render :partial => "partials/display_items_table", :locals => {:items  => @staging} %>
					</div>
					<div id="paginate_staging">
					  <%= paginate @staging, :remote => true %>
					</div>
				</td>
			<tr></table>
		</div>
	</div>
	</td>
	<td class="my_list" valign="top" width="250">
		<%= render :partial => "partials/current_list" %>
	</td>
	</tr>
</table>