<% unless current_user.is_partner? %>
	<div id="add_widget"><%= link_to '+ Add a New Item', new_item_path %></div>
<% end %>
<h1>Browse Catalog</h1>

<div id="accordion">
	
	<h6><%= link_to(image_tag("forms/search_costumes.png"),"#") %></h6>
	<div class="browse_section">
		<%= render :partial => "partials/display_items_table", :locals => {:items  => @costumes} %>
	</div>
	
	<h6><%= link_to(image_tag("forms/search_props.png"),"#") %></h6>
	<div class="browse_section">
		<%= render :partial => "partials/display_items_table", :locals => {:items  => @props} %>
	</div>
	
	<h6><%= link_to(image_tag("forms/search_staging.png"),"#") %></h6>
	<div class="browse_section">
		<%= render :partial => "partials/display_items_table", :locals => {:items  => @staging} %>
	</div>
	
</div>