<% unless current_user.is_partner? %>
	<div id="add_widget"><%= link_to '+ Add a New Gender', new_gender_path %></div>
<% end %>

<h1>Listing genders</h1>

<table class="datagrid">
  <thead class="datagrid">
		<th width="200">&nbsp;Name</th>
		<th width="200">&nbsp;Active</th>
		<% unless current_user.is_partner? %>
			<th>&nbsp;</th>
		<% end %>
  </thead>

<% @genders.each do |gender| %>
  <tr class="<%= cycle('dg_list_line_odd', 'dg_list_line_even') %>">
    <td><%= gender.name %></td>
    <td><%= gender.active %></td>
		<% unless current_user.is_partner? %>
			<td align="center">
				<%= link_to(image_tag("icons/edit_dg.gif", :border => 0), edit_gender_path(gender))  %>&nbsp;
				<%= link_to(image_tag("icons/delete_dg.gif", :border => 0), gender_path(gender), :confirm => 'Are you sure you wish to delete this gender?', :method => :delete) %>
		 	</td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

Back to <%= link_to 'list of all genders', genders_path %>
