<h1>Editing <%= @location.name %></h1>

<%= render 'form' %>

<br/>
<%= image_tag "forms/items_actions.png" %><br/>
<%= link_to(image_tag("icons/back_arrow.png", :border => 0), locations_path(@user))  %>&nbsp;<%= link_to "Back to Locations", locations_path(@user) %>